<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
</head>

<body ng-app='myApp' ng-controller='myController'>
    <h1>{{data}}</h1>
    change content:
    <input type="text" ng-model="content">
    <button ng-click="changeData(content)">commit</button>
    <br>
    <button ng-click="pathToPage1()">page1</button>
    <button ng-click="pathToPage2()">page2</button>
    <hr>
    <div ng-view>

    </div>

    <script src="https://cdn.bootcss.com/angular.js/1.2.32/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.2.32/angular-route.min.js"></script>
    <script src="../js/index.js"></script>
    <script src="../../ngxjs/store.config.js"></script>
    <script src="../../ngxjs/ngx.js"></script>
    <script src="../js/controller.js"></script>
</body>

</html>